name: "Validate artifacts"

on:
  workflow_dispatch:
  pull_request:
    paths: ["artifacts/*.md"]

jobs:
  archive:
    name: "Validate"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
      - name: "Validate"
        uses: acearchive/artifact-action@main
        with:
          path: "artifacts"
